version: '3'
services:

{% for item in serverList_csv_list.list %}

  {{item.hostname}}:
    image: {{dockerImage}}:{{dockerImageVersion}}
    container_name: {{item.hostname}}
    hostname: {{item.hostname}}
    env_file:
      - {{dest_base}}/{{project}}/buildDir/{{inputTag}}-specific/{{item.hostname}}/{{item.hostname}}.env
    volumes:
      - {{dest_base}}/{{project}}/buildDir/{{inputTag}}-specific/{{item.hostname}}/etc:{{SPLUNK_HOME}}/etc/
      - {{dest_base}}/{{project}}/buildDir/{{inputTag}}-specific/{{item.hostname}}/var:{{SPLUNK_HOME}}/var/
    ports:
      - {{item.portMapping}}
    labels:
      splunk.cluster: "{{item.hostGroup}}"
    networks:
      splunk:
        aliases:
          - {{item.hostname}}
    restart: always

{% endfor %}

networks:
  splunk:
