
SPLUNK_START_ARGS=--accept-license --answer-yes --no-prompt
SPLUNK_BEFORE_START_CMD_1=version $SPLUNK_START_ARGS
SPLUNK_BEFORE_START_CMD_2=edit user admin -password changed -role admin -auth admin:changeme
SPLUNK_BEFORE_START_CMD_3=cmd python -c 'open(\"/opt/splunk/etc/.ui_login\", \"a\").close()'

# SPLUNK_CMD=bootstrap shcluster-captain -servers_list "{{distributedSearch_uri}}"
