version: '2'
services:

{% for item in serverList.split("\n") %}
{% if loop.index != 1 %}
{% set list = item.split(",") %}
{% set hostname = list[0] %}
{% set hostGroup = list[1] %}
{% set portMapping = list[2] %}

  {{ hostname }}:
    image: {{dockerImage}}:{{dockerImageVersion}}
    container_name: {{ hostname }}
    hostname: {{ hostname }}
    env_file:
      - {{ dest_base }}/{{ project }}/buildDir/{{productTag}}-specific/{{ hostname }}/{{ hostname }}.env
    volumes:
      - {{ dest_base }}/{{ project }}/buildDir/{{productTag}}-specific/{{ hostname }}/etc:/opt/splunk/etc/
      - {{ dest_base }}/{{ project }}/buildDir/{{productTag}}-specific/{{ hostname }}/var:/opt/splunk/var/
    ports:
      - {{ portMapping }}
    labels:
      splunk.cluster: "{{ hostGroup }}"
    networks:
      splunk:
        aliases:
          - {{ hostname }}
    restart: always

{%   endif %}
{% endfor %}

    networks:
      splunk:
