
SPLUNK_START_ARGS=--accept-license --answer-yes --no-prompt
SPLUNK_BEFORE_START_CMD_1=version $SPLUNK_START_ARGS
SPLUNK_BEFORE_START_CMD_2=edit user admin -password {{splunkadminpass}} -role admin -auth admin:changeme
SPLUNK_BEFORE_START_CMD_3=cmd python -c 'open(\"/opt/splunk/etc/.ui_login\", \"a\").close()'

{% if item[0].hostGroup == 'shc_member' %}
SPLUNK_CMD_1=cmd python -c 'import sys;time.sleep(30)'
SPLUNK_CMD_2=init shcluster-config -auth admin:{{splunkadminpass}} -mgmt_uri {{protocol}}://{{item[0].hostname}}:{{mgmtPort}}
SPLUNK_CMD_3=restart
SPLUNK_CMD_4=cmd python -c 'import sys;time.sleep(30)'
{% endif %}

{% if item[0].hostGroup == 'cluster_master' %}
{% for item in shc_member_grp %}
{% set counter = counter + 1 %}
SPLUNK_CMD_{{counter}}=add search-server {{protocol}}://{{item}}:{{mgmtPort}} -auth admin:{{splunkadminpass}} -remoteUsername admin -remotePassword {{splunkadminpass}}
{% endfor %}
{% endif %}
