
SPLUNK_START_ARGS=--accept-license --answer-yes --no-prompt
#SPLUNK_BEFORE_START_CMD_1=version $SPLUNK_START_ARGS
#SPLUNK_BEFORE_START_CMD_2=edit user admin -password {{splunkadminpass}} -role admin -auth admin:{{old_splunkadminpass}}
SPLUNK_PASSWORD={{splunkadminpass}}
#SPLUNK_BEFORE_START_CMD_3=cmd python -c 'open("{{SPLUNK_HOME}}/etc/.ui_login", "a").close()'

#{% if ansible_distribution == 'MacOSX' %}
#SPLUNK_BEFORE_START_CMD_4=cmd python {{SPLUNK_HOME}}/etc/apps/{{envApp}}/bin/override_filesystem_checks.py
#{% else %}
#SPLUNK_BEFORE_START_CMD_4=cmd python {{SPLUNK_HOME}}/etc/apps/{{envApp}}/bin/override_filesystem_checks.py
#{% endif %}

# Just to ensure directory for TEST data
SPLUNK_BEFORE_START_CMD_5=cmd python -c 'open("/tmp/testdata/README.md", "a").close()'

# ======================== #
{% if hostGroup == 'shc_member' %}
SPLUNK_CMD_1=cmd python -c 'import sys;time.sleep(30)'
SPLUNK_CMD_2=init shcluster-config -auth admin:{{splunkadminpass}} -mgmt_uri {{protocol}}://{{hostname}}:{{mgmtPort}}
SPLUNK_CMD_3=restart
SPLUNK_CMD_4=cmd python -c 'import sys;time.sleep(30)'
{% endif %}


{% if hostGroup == 'cluster_master' %}
{% for item in shc_member_grp %}
SPLUNK_CMD_{{loop.index}}=add search-server {{protocol}}://{{item}}:{{mgmtPort}} -auth admin:{{splunkadminpass}} -remoteUsername admin -remotePassword {{splunkadminpass}}
{% endfor %}
{% endif %}
